:root {
  font-family: Karla, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2B283A;
  color-scheme: light dark;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}


